body {
    padding: 30px;
    font: 14px;
    font-family: Ubuntu, sans-serif;
    background-color: #f2f2f2;
}

input {
    font-family: Ubuntu, sans-serif;
}

textarea {
    font-family: Ubuntu, sans-serif;
}

a {
  color: #00B7FF;
}
