body 
{
    padding: 30px;
    font: 14px;
    font-family: Ubuntu, sans-serif;
    background-color: #f2f2f2;
}

input {
    font-family: Ubuntu, sans-serif;
}

textarea {
    font-family: Ubuntu, sans-serif;
}

a {
  color: #00B7FF;
}

#page 
{
    margin: -40px 50px;
    padding: 5px 20px 50px;
    box-shadow: 0px 0px 7px #999;
    background: #fff none repeat scroll 0% 0%;
    position: relative;
    max-width: 60rem;
    min-width: 45rem;
}

.op
{
	background: #CCC none repeat scroll 0% 0%;
	border: 1px solid #5A5858;
	padding: 10px;
	border-radius: 9px;
	min-height: 150px;
	position: relative;
}

.author
{
	/* margin-right: 150px; */
	display: inline-block;
	vertical-align: top;
	width: 150px;

}

.postFooter
{
	text-align: right;
	bottom: 10px;
	right: 10px;
	position: absolute;

}

.posts
{
	background: #CCC none repeat scroll 0% 0%;
	border: 1px solid #5A5858;
	padding: 10px;
	border-radius: 9px;
	min-height: 150px;
	margin-top: 20px;
	position: relative;

}

