<html>
    <head>
        <title>OCAPPA Forums</title>
        <!-- <base href="/"></base> -->
    </head>
    <body ng-app="OCAPForums">
        <!-- https://thinkster.io/mean-stack-tutorial  -->
        <header>
            <div id="headernav">
                <div class="pageWidth">
                    <nav ng-controller="NavCtrl">
                        <span ng-show="isLoggedIn()">| Signed in as {{currentUser()}} | </span>
                        <span ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a> | </span>
                        <span ng-hide="isLoggedIn()"> | <a href="/#/login">Log In</a></span>
                        <span ng-hide="isLoggedIn()"> | <a href="/#/register">Register</a> | </span>
                    </nav>
                </div>
            </div>
        </header>
        <div id="content">
            <div class="pageWidth">
                <div id="pageContent">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="/forums.html">
            <div>
              <h1>OCAPPA Forums</h1>
            </div>
            
            
            
            
            
            <div ng-repeat="post in posts | orderBy:'-latestPost'">
            
            <!-- {{post.comments.length}}
                {{post.comments[post.comments.length - 1]}} -->
            
            
            
              <!-- <span ng-click="incrementLike(post)"><a href="">Like</a></span>
                -->
              <span ng-hide="post.link">
            
              <a href="#/forums/posts/{{post._id}}">{{post.title}}</a>
            
              </span>     
              <br />
              
              <span ng-show="post.author">
              posted by {{post.author}}
              </span>
              <br />
              <span ng-show="post.latestPost">
                latest post: {{post.latestPost}}
              </span>
            
            
              <span>
                
              </span>
              <!-- - Likes: {{post.likes}} -->
            </div>
            
            
            
            <form ng-submit="addPost()" ng-show="isLoggedIn()"
                style="margin-top:30px;">
              <h3>Create New Thread</h3>
            
              <p id="author"></p>
            
            
                <input type="text"
                placeholder="Title"
                ng-model="title"></input>
                  <br />
                  <textarea ng-model="content" cols="40" rows="10"></textarea>
                  <br />
             
                <!-- <input type="text"
                placeholder="Link"
                ng-model="link"></input> -->
            
              <button type="submit">Create Thread</button>
            </form>
            
            </div>
            </div>
            </div>
            
            
        </script>




        <script type="text/ng-template" id="/posts.html">
            <h3>{{post.title}}</h3>
 
 
 
 
  <!--  
//   <div class="op">
//  <table>
//     <tr>
//       <td class="author">{{post.author}}</td>
//       <td class="postcontent"><span style="white-space: pre;" ng-hide="editing" ng-bind="content"></span>
        
//         <span ng-show="editing">
          
//           <form ng-submit="updateOP()">
//             <textarea cols="40" rows="10" ng-model="data.text"></textarea>
//             <br />
//             <button type="submit">Post</button>
//           </form>
          
          
//         </span>
        
        
//       </td>
//     </tr>
    
//   </table> 
  
//   <div class="postFooter">
//     {{post.date}}
//     <a href="" ng-show="loggedInMatch && !editing" ng-click="editOP()">Edit</a>
//   </div>
// </div> -->

      <div class="posts">

        <div class="postbit">

          <div class="avatar">
          </div>

          <div class="userText">
            <span class="username">{{post.author}}</span>
            <span class="customtitle"></span>
            <div class="badges"></div>
            <span class="banner wrapped" ng-Class="post.author">
              <span ng-show="checkAuthor(post.author)" ng-bind="getBannerText(post.author)">
              </span>
            </span>
          </div>
        </div>
     


      <div class="postcontent">
        <span style="white-space: pre;" ng-hide="editing" ng-bind="content"></span>


        <span ng-show="editing">


          <form ng-submit="updateOP()">

            <textarea cols="40" rows="10" ng-model="data.text"></textarea>
            <br />
            <button type="submit">Post</button>

          </form>
        </span>

        <div class="postFooter">
          {{post.date}}
          <a href="" ng-show="loggedInMatch && !editing" ng-click="editOP()">Edit</a>
        </div>
      </div>

 </div>

      <div ng-repeat="comment in post.comments">

              
          
              <div class="posts">

                <div class="postbit">
                  <div class="avatar">


                  </div>

                  <div class="userText">
                    <span class="username">{{comment.author}}</span>
                    <span class="customtitle"></span>
                    <div class="badges"></div>
                    <span class="banner wrapped" ng-Class="comment.author">
                      <span ng-show="checkAuthor(comment.author)" ng-bind="getBannerText(comment.author)"></span>
                      <!-- <span ng-show="comment.author == 'test'">gamma tester</span> -->

                    </span>

                  </div>


                </div>

                <div class="postcontent">
                  <span ng-hide="editingPost.which == comment._id" style="white-space: pre;" ng-bind="comment.body" style="font-size:20px; margin-left:10px;"></span>
                  
                  
                  
                  
                  
                  
                  <span ng-show="editingPost.which == comment._id">


                    <form ng-submit="updateComment(comment)">

                      <textarea cols="40" rows="10" ng-model="data.text"></textarea>
                      <br />
                      <button type="submit">Post</button>
                      
                    </form>
                  </span>

                  <div class="postFooter"> {{comment.date}}
                    <a href="" ng-show="(comment.author === currentUser()) && !amEditingPost" ng-click="editPost(comment)">Edit</a>
                  </div>

                </div>

            <!--
            <table>
              <tr>
                <td class="author">{{comment.author}}

               

                  <span class="banner" ng-Class="comment.author">
                    <span ng-show="comment.author == 'Lemonade'">pasta</span>
                    <span ng-show="comment.author == 'test'">tester</span>
             
                  </span>

               

                </td>
                <td class="postcontent"><span ng-hide="editingPost.which == comment._id" style="white-space: pre;" ng-bind="comment.body" style="font-size:20px; margin-left:10px;"></span>
       {{comment.body}} 
              
            
            
            
            
              <span ng-show="editingPost.which == comment._id">
            
            
              <form ng-submit="updateComment(comment)">
            
              <textarea cols="40" rows="10" ng-model="data.text"></textarea>
              <br />
              <button type="submit">Post</button>
              </span>
              </form></td>
            
            
              </tr>
            </table> -->
            
            
            

            
            
            
          </div>
        </div>
        
        <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
          <h3>Reply</h3>
          
          <textarea ng-model="body" cols="40" rows="10"></textarea>
          <br />
          <button type="submit">Post</button>
        </form>

        </script>
        <script type="text/ng-template" id="/register.html">
            <div class="page-header">
              <h1>OCAPPA Forums</h1>
            </div>
            
            <div ng-show="error" class="alert alert-danger row">
              <span>{{ error.message }}</span>
            </div>
            
            <form ng-submit="register()"
              style="margin-top:30px;">
              <h3>Register</h3>
            
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Username"
                ng-model="user.username"></input>
              </div>
              <div class="form-group">
                <input type="password"
                class="form-control"
                placeholder="Password"
                ng-model="user.password"></input>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </script>
        <script type="text/ng-template" id="/login.html">
            <div class="page-header">
              <h1>OCAPPA Forums</h1>
            </div>
            
            <div ng-show="error" class="alert alert-danger row">
              <span>{{ error.message }}</span>
            </div>
            
            <form ng-submit="logIn()"
              style="margin-top:30px;">
              <h3>Log In</h3>
            
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Username"
                ng-model="user.username"></input>
              </div>
              <div class="form-group">
                <input type="password"
                class="form-control"
                placeholder="Password"
                ng-model="user.password"></input>
              </div>
              <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        </link>
    </body>
</html>