<html>
    <head>
        <title>OCAPPA Forums</title>
        <!-- <base href="/"></base> -->
    </head>
    <body ng-app="OCAPPAForums">
        <!-- https://thinkster.io/mean-stack-tutorial  -->
        <header>
            <div id="headernav">
                <div class="pageWidth">
                    <nav ng-controller="NavCtrl">
                        <span ng-show="isLoggedIn()">| Signed in as {{currentUser()}} | </span>
                        <span ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a> | </span>
                        <span ng-hide="isLoggedIn()"> | <a href="/#/login">Log In</a></span>
                        <span ng-hide="isLoggedIn()"> | <a href="/#/register">Register</a> | </span>
                    </nav>
                </div>
            </div>
        </header>
        <div id="content">
            <div class="pageWidth">
                <div id="pageContent">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="/forums.html">
            <div>
              <h1>OCAPPA Forums</h1>
            </div>
            
            
            
            
            
            <div ng-repeat="post in threads | orderBy:'-latestPost.date'">
            

            <table class="threadTable">
              <tr>
                <td class="tt">
                <div class="threadTitle">
                  <span ng-hide="post.link"><a href="#/forums/threads/{{post._id}}">{{post.title}}</a></span>
                </div>
                <div class="threadDate">
                  <span ng-show="post.author">{{post.author}} at {{post.date}}</span>     
                </div>
                </td>
                <td>
                  <div>
                    Replies
                  </div>
                  <div class="threadReplies">
                    {{post.replies}}
                  </div>
                </td>
                <td>
                  <div class="latestPostUser">
                    {{post.latestPost.user}}
                  </div>
                  <div class="latestPostDate">
                    <span ng-show="post.latestPost">at {{post.latestPost.date}}</span>

                  </div>
                   
                </td>
              </tr>

            </table>

              
              
              
              
              <br />
             
            
            
              <span>
                
              </span>
              <!-- - Likes: {{post.likes}} -->
            </div>
            
            
            
            <form ng-submit="addPost()" ng-show="isLoggedIn()"
                style="margin-top:30px;">
              <h3>Create New Thread</h3>
            
              <p id="author"></p>
            
            
                <input type="text"
                placeholder="Title"
                ng-model="title"></input>
                  <br />
                  <textarea ng-model="content" cols="40" rows="10"></textarea>
                  <br />
             
                <!-- <input type="text"
                placeholder="Link"
                ng-model="link"></input> -->
            
              <button type="submit">Create Thread</button>
            </form>
            
            </div>
            </div>
            </div>
            
            
        </script>




        <script type="text/ng-template" id="/threads.html">
            
 
            <p><a href="/#/forums">Home</a></p>
            
            <h3 ng-bind="post.title"></h3>
            <div ng-show="loggedInMatch && !editingTitle && !editing && !amEditingPost">
                
              
              <a href="" ng-click="editTitle()">Edit Thread Title</a>
            </div>
            
            <div ng-show="editingTitle">

            <form ng-submit="updateTitle(post._id)">

              <textarea row="1" ng-model="titleEdit"></textarea>

              <button type="submit">Change</button>
            </form>
            </div>
  <!--  
//   <div class="op">
//  <table>
//     <tr>
//       <td class="author">{{post.author}}</td>
//       <td class="postcontent"><span style="white-space: pre;" ng-hide="editing" ng-bind="content"></span>
        
//         <span ng-show="editing">
          
//           <form ng-submit="updateOP()">
//             <textarea cols="40" rows="10" ng-model="data.text"></textarea>
//             <br />
//             <button type="submit">Post</button>
//           </form>
          
          
//         </span>
        
        
//       </td>
//     </tr>
    
//   </table> 
  
//   <div class="postFooter">
//     {{post.date}}
//     <a href="" ng-show="loggedInMatch && !editing" ng-click="editOP()">Edit</a>
//   </div>
// </div> -->

      <div class="posts">

        <div class="postbit">

          <div class="avatar">

            <img ng-src="{{getAvatar(post.author)}}" />      
          </div>

          <div class="userText">
            <span class="username" ng-bind="post.author"></span>
            <span class="customtitle"></span>
            <div class="badges"></div>
            <span ng-style="getBannerStyle(post.author)" class="banner wrapped" ng-Class="post.author">
              <span ng-bind="getBannerText(post.author)">

              </span>

            </span>

            <div class="miscData">
            Posts: <span ng-bind="getPC(post.author)"></span>
            </div>

          </div>

        </div>
     


      <div class="postcontent">
     
        <span style="white-space: pre-wrap;" ng-hide="editing" ng-bind-html="content"></span>
 

        <span ng-show="editing">


          <form ng-submit="updateOP()">

            <textarea ng-model="data.text" id="TextArea"></textarea>
            <br />
            <button type="submit">Post</button>

          </form>
        </span>


      </div>

          <div class="signature">
            temp sig
          </div>

        <div class="postFooter">
         


          <div class="miscDeets">
            <span ng-bind="post.date"></span>
            <a href="" ng-show="loggedInMatch && !editingTitle && !editing && !amEditingPost" ng-click="editOP()">Edit</a>
          </div>
        </div>
 </div>

      <div ng-repeat="comment in post.comments">

              
          
              <div class="posts">

                <div class="postbit">
                  <div class="avatar">
                    
                    <img ng-src="{{getAvatar(comment.author)}}" />                   

                  </div>

                  <div class="userText">
                    <span class="username">{{comment.author}}</span>
                    <span class="customtitle"></span>
                    <div class="badges"></div>
                    <span class="banner wrapped" ng-style="getBannerStyle(comment.author)" ng-Class="comment.author">
                      <span ng-bind="getBannerText(comment.author)"></span>
                      <!-- <span ng-show="comment.author == 'test'">gamma tester</span> -->

                    </span>

                      <div class="miscData">
                      Posts: {{getPC(comment.author)}}
                      </div>


                  </div>


                </div>

                <div class="postcontent">
                  <span ng-hide="editingPost.which == comment._id" style="white-space: pre-wrap;" ng-bind-html="comment.body"></span>
                  
                  
                  
                  
                  
                  
                  <span ng-show="editingPost.which == comment._id">


                    <form ng-submit="updateComment(comment)">
                  
                      <textarea ng-model="data.text" id="TextAreaPost"></textarea>
                      <br />
                      <button type="submit">Post</button>
                      
                    </form>
                 </span>

      </div>
<div class="signature">
            <span>temp sig</span>
          </div>

        <div class="postFooter">
         


          <div class="miscDeets">
            <span ng-bind="comment.date"></span>

            <a href="" ng-show="(comment.author === currentUser()) && !amEditingPost && !editing && !editingTitle" ng-click="testf(comment)">Edit</a>
          </div>
        </div>
 </div>

                

          

            
            
            
            

            
            
            
          </div>
        </div>
        
        <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
          <h3>Reply</h3>
          
          <textarea ng-model="body" cols="40" rows="10"></textarea>
          <br />
          <button type="submit">Post</button>
        </form>

        </script>
        <script type="text/ng-template" id="/register.html">
            <div class="page-header">
              <h1>OCAPPA Forums</h1>
            </div>
            
            <div ng-show="error" class="alert alert-danger row">
              <span>{{ error.message }}</span>
            </div>
            
            <form ng-submit="register()"
              style="margin-top:30px;">
              <h3>Register</h3>
            
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Username"
                ng-model="user.username"></input>
              </div>
              <div class="form-group">
                <input type="password"
                class="form-control"
                placeholder="Password"
                ng-model="user.password"></input>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </script>
        <script type="text/ng-template" id="/login.html">
            <div class="page-header">
              <h1>OCAPPA Forums</h1>
            </div>
            
            <div ng-show="error" class="alert alert-danger row">
              <span>{{ error.message }}</span>
            </div>
            
            <form ng-submit="logIn()"
              style="margin-top:30px;">
              <h3>Log In</h3>
            
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Username"
                ng-model="user.username"></input>
              </div>
              <div class="form-group">
                <input type="password"
                class="form-control"
                placeholder="Password"
                ng-model="user.password"></input>
              </div>
              <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        </link>
    </body>
</html>